<div class="page-container {% if page.handle == 'lookbook' %}page-lookbook{% endif %}">
  <div class="page-content">
    {% unless page.handle == 'lookbook' %}
      <h1 class="page-title">{{ page.title }}</h1>
    {% endunless %}
    
    <div class="page-body">
      {{ page.content }}
    </div>
  </div>
</div>